.country-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: calc(100% - 20px);
  margin-top: 100px;
  background-color: rgb(230, 227, 223);
  border: 2px solid #969699;
}

.country-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  width: 100%;
  padding: 10px 10px 10px 10px;
}

.country-name {
  text-align: center;
}

.official-name {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.country-flag {
  margin-top: 20px;
  width: 90%;
  box-shadow: 2px 2px 3px 4px rgba(51, 49, 49, 0.3);
}

.flex-language-container {
  list-style: none;
}

.grid-language-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) 50%;
  gap: 6px;

  list-style: none;
  width: 100%;
  text-align: center;
}

.grid-language-container :last-child {
  grid-column: 2 / 3;
}
